html, body {
  //background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, rgb(115,25,55),rgb(115,25,55));
  background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, rgb(94,44,73),rgb(94,44,73));
  height: 100%;
  background-attachment: fixed;
  //overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
#home {
  height: 100%;
}
#main {
  height: calc(100% - 85px);
}
h1, p {
  text-align: center;
  color: #fff;
  margin: 5px;
}
h1 {
  font-size: 55px;
}
p {
  margin-bottom: 30px;
}
img {
  margin: 40px auto 0 auto;
  height: 160px;
  display: block;
}
button {
  height: 40px;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #000;
  background: #e5eaed;
  border: none;
  outline: none !important;
  display: block;
  //margin: 30px auto 0 auto;
}
//button:focus{
//  background: rgba(115, 25, 55, 0.76);
//  outline: none !important;
//}
button:hover {
  background: rgba(229, 234, 237, 0.92);
  outline: none !important;
}
//button:active {
//  background: rgba(115, 25, 55, 0.84);
//  outline: none !important;
//}

#editButtons {
  display: none;
  flex-direction: column;
  align-items: center;
  //float: left;
  width: 100%;
  //margin: 20px 5px 0 100px;
  //padding: 20px;
  //background: rgba(0, 0, 0, 0.20);
}
#editButtons2 {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  //margin: 20px auto 0 5px;
  //padding: 20px;
  //background: rgba(0, 0, 0, 0.20);
}
.button {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #000;
  text-align: center;
  outline: none !important;
  margin-right: 10px;
}
.clicked {
  background: #e5eaed !important;
}
.clicked2{
  background: rgb(229, 234, 237, 0.84) !important;
}
.clicked3 {
  background: rgb(229, 234, 237, 0.84) !important;
}

.SendButton {
  text-align: center;
  margin: 15px auto;
  align-items: center;
}
#applyButton {
  display: none;
  margin: 20px auto 0 auto;
  width: 50%;
}
.drop-zone {
  cursor: pointer;
  height: 450px;
  max-width: 450px;
  margin: auto;
  //margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px dashed #EDEBD7;
}
.drop-zone-sm {
  cursor: pointer;
  height: 135px;
  width: 135px;
  //margin: auto;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px dashed #bbae9c;
  color: #bbae9c;
}
.drop-zone-over{
  opacity: 70%;
  border-style: solid;
}
.drop-zone:hover{
  opacity: 70%;
}
.drop-zone-prompt {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
.drop-zone-prompt-sm {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  //color: #EDEBD7;
  color: #bbae9c;
}
.drop-zone-input {
  display: none;
}
.drop-zone-thumb {
  width: 90%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #EDEBD7;
  background-size: cover;
  position: relative;
}
.drop-zone-thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
#editor {
  display: none;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  padding: 0;
  box-sizing: border-box;
}
#loadingDiv {
  display: none;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.30);
  justify-content: center;
  align-items: center;
}
#loadingImage {
  width: 40%;
  height: 50%;
  object-fit: cover;
}
.fileListDisplay {
  background-size: cover;
  margin: 3px;
  width: 135px;
  height: 90%;
  border-radius: 5px;
}
#videoBar {
  //background: rgba(0, 0, 0, 0.20);
  background: #e5eaed;
  position: fixed;
  z-index: 2;
  height: 150px;
  margin-left: 29%;
  margin-bottom: 20px;
  //border-radius: 5px;
}
nav {
  background: #5e2c49;
  color: #fff;
  height: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}
i {
  margin-left: 10px;
}
i:hover {
  color: #BBB9A6;
}
span {
  margin-left: 5px;
  font-size: 16px;
}
#subNav {
  background: #bbae9c;
  margin: 0;
  height: 35px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.subNavButton {
  background: #bbae9c;
  height: 35px;
  width: fit-content;
  color: #000;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.fa-spinner {
  display: none;
}
#sideBar {
  //display: none;
  background: #bbae9c;
  width: 25%;
  height: 100%;
}
#optionsSideBar {
  //background: #e5eaed;
  width: calc(100% - 5px);
  height: fit-content;
  margin: 0 10px 0 0;
}

#sideBar p {
  background-color: #e5eaed;
  line-height:35px;
  width: fit-content;
  padding: 0 5px 0 5px;
  margin: 5px 0 0 15px;
  height: 35px;
  color: #000;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
#optionsTxt {
  display: none;
}
#videoTag {
  display: flex;
  float: center;
  justify-content: center;
  margin: 40px auto 0 auto;
  //background: rgba(0, 0, 0, 0.20);
  height: 50%;
}
.options {
  flex-direction: column;
  //float: center;
  width: 100%;
  height: fit-content;
  padding-top: 20px;
  //justify-content: center;
  align-items: center;
  text-align: center;
  background: #e5eaed;
}
#joinOptions {
  display: none;
  margin: auto;
}
#trimOptions {
  display: none;
  margin: auto;
}
#brightnessOptions {
  display: none;
  margin: auto;
}
#luminosityOptions {
  display: none;
  margin: auto;
}
#gammaOptions {
  display: none;
  margin: auto;
}
#blackwhiteOptions {
  display: none;
  margin: auto;
}
#fadeOptions {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.btn-group-fade {
  width: 100%;
}
#insideFadeOptions {
  display: none;
  width:100%;
  margin: auto;
}
#mirrorOptions {
  display: none;
  margin: auto;
}
#loopOptions {
  display: none;
  margin: auto;
}
#rotateOptions {
  display: none;
  margin: auto;
}
#speedOptions {
  display: none;
  margin: auto;
}
.options > label {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #000;
  margin: 5px;
}
#joinOptions > p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #000;
  margin: 5px;
}
#blackwhiteOptions > p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0, 0.62);
  margin-bottom: 20px;
}
.center {
  justify-content: center;
}
#slider .slider-selection {
  background: #731937;
}
#slider .slider-handle {
	background: #430011;
}
#slider {
  width: 98%;
  margin-bottom: 20px;
}
#joinVideoList {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
input{
  border: 2px solid rgb(0, 0, 0, 0.2);
  height: 40px;
  width: 190px;
  outline: none !important;
}
input:focus{
  border: 2px solid #5e2c49;
  height: 40px;
  width: 190px;
  outline: none !important;
}
