html, body {
  background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, rgb(115,25,55),rgb(115,25,55));
  height: 100%;
  background-attachment: fixed;
  //overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
#home {
  height: 100%;
}
h1, p {
  text-align: center;
  color: #fff;
  margin: 5px;
}
h1 {
  font-size: 55px;
}
p {
  margin-bottom: 30px;
}
img {
  margin: 40px auto 0 auto;
  height: 160px;
  display: block;
}
button {
  height: 40px;
  width: 200px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #fff;
  background: #731937;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 30px auto 0 auto;
}
button:hover {
  background: #A54861;
}
#editButtons {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 20%;
  margin: 20px auto 0 100px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.20);
}
#editButtons2 {
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 20%;
  margin: 20px auto 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.20);
}
.button {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.SendButton {
  text-align: center;
  margin: 15px auto;
  align-items: center;
}
.drop-zone {
  cursor: pointer;
  height: 450px;
  max-width: 450px;
  margin: auto;
  //margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px dashed #EDEBD7;
  border-radius: 5px;
}
.drop-zone-sm {
  cursor: pointer;
  height: 135px;
  width: 135px;
  //margin: auto;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px dashed #EDEBD7;
  border-radius: 5px;
}
.drop-zone-over{
  opacity: 70%;
  border-style: solid;
}
.drop-zone:hover{
  opacity: 70%;
}
.drop-zone-prompt {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
.drop-zone-prompt-sm {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  color: #EDEBD7;
}
.drop-zone-input {
  display: none;
}
.drop-zone-thumb {
  width: 90%;
  height: 90%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #EDEBD7;
  background-size: cover;
  position: relative;
}
.drop-zone-thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
#editor {
  display: none;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  padding: 0;
  box-sizing: border-box;
}
#loadingDiv {
  display: none;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.30);
  justify-content: center;
  align-items: center;
}
#loadingImage {
  width: 40%;
  height: 50%;
  object-fit: cover;
}
.fileListDisplay {
  background-size: cover;
  margin: 3px;
  width: 135px;
  height: 90%;
  border-radius: 5px;
}
#videoBar {
  background: rgba(0, 0, 0, 0.20);
  position: fixed;
  z-index: 2;
  height: 150px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
}
nav {
  background: #731937;
  color: #fff;
  height: 50px;
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}
i {
  margin-left: 10px;
}
i:hover {
  color: #BBB9A6;
}
span {
  margin-left: 5px;
  font-size: 16px;
}
.fa-spinner {
  display: none;
}
#videoTag {
  display: flex;
  float: right;
  justify-content: center;
  margin: 20px 100px 0 auto;
  background: rgba(0, 0, 0, 0.20);
  height: 50%;
  border-radius: 5px;
}
.active {
  border: 2px solid #731937;
  border-radius: 5px;
}
#trimOptions {
  border-radius: 5px;
  display: none;
  flex-direction: column;
  float: right;
  margin: 20px 100px 0 0;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.20);
  text-align: center;
}
#joinOptions {
  border-radius: 5px;
  display: none;
  flex-direction: column;
  float: right;
  margin: 20px 100px 0 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.20);
  text-align: center;
}
#joinOptions > p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #000;
  margin: 5px;
}
.center {
  justify-content: center;
}
#slider .slider-selection {
  background: #731937;
}
#slider .slider-handle {
	background: #430011;
}
#joinVideoList {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
